@media (max-width:480px) {
    .side_bar {
        display: none;
    }

    header {
        padding: 40px;
        width: 770px;
    }

    .c,
    .lupa {
        display: none;
    }

    #f {
        display: none;
    }
    .w{
        display: block;
        position: relative;
        left: 50px;
    }
    .box,.post,.post2,.images{
        width: 770px;
    }
}