* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapp {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.bix {
    padding-inline: 250px 0;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.box {
    width: 350px;
    height: 475px;
    border: 1px solid black;


}

.ml_box {
    padding-block: 19px 0;
    text-align: center;
    width: 350px;
    height: 210px;
}

.black_box {
    background: #000;
    padding-inline: 30px 0;
    width: 350px;
    height: 263px;
}

.black_box h1 {
    color: #FFF;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-block: 20px 0;
}

.dialog h1 {
    color: #FFF;
    font-family: Gilroy;
    font-size: 34px;
    text-align: center;
}



.black_box p {
    color: rgba(255, 255, 255, 0.56);
    padding-block: 10px 0;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.fle_box {
    display: flex;
    gap: 5px;
}

.flex {
    display: flex;
    padding-block: 15px 0;
    gap: 20px;
}

.fle_box h2 {
    color: #FFF;

    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

img {
    width: 35%;
    height: 90%;
    object-fit: contain;
}

.btn {
    width: 290px;
    height: 55px;
    border-radius: 10px;
    color: #000;

    text-align: center;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: norm;
    border: 0;
    background: #FFF;
}

.btns {
    padding-block: 20px;
}

.zzz {
    background-color: rgb(14, 162, 221);
    color: white;
}

.h {
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: Gilroy;
}

.b {
    width: 254px;
    height: 55px;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    font-size: 20px;
    font-family: Gilroy;
}

.br {
    text-align: center;
    padding-block: 30px 50px;
}

.dialog {
    background: black;
    width: 600px;
    height: 1200px;
    position: absolute;
    top: 00px;
    left: -500%;
    transition: .9s ease;
}

.dia {
    transition: .9s ease;
    position: absolute;
    top: 00px;
    left: 70%;
}

.tire {
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: #FFF;
    position: absolute;
    right: 0px;
}

.bix {
    padding-block: 30px 0;
}

.img_box {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    left: 10px;
    top: 80px;
}

.tiree {
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: #FFF;
    position: absolute;
    right: 0px;
    top: 238px;
}

.ims {
    text-align: center;
    align-items: center;
    padding-inline: 50px 0;
    width: 70%;
}

.boxx {
    display: flex;
}

h3 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-block: 70px 0;
    margin-left: -50px;
}

.bte {
    width: 80px;
    height: 40px;
    background: white;
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    margin-block: 60px 0;
    margin-left: 80px;
}

.bte_p {
    font-size: 25px;
    padding-block: 5px 0;
}

#bt {
    padding-block: 6px 0;
}
.as{
    color: white;
    font-family: Gilroy;
    padding-block: 105px 0;
    font-size: 25px;
    margin-left: -70px;
}
.pp{
    color: white;
    font-size: 40px;
    font-family: Gilroy;
    position: absolute;
    top: 0;
    right: 20px;
}