*{
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: Raleway;
  outline: none
}
.wrap{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
 align-items: center;
}
.box{
  padding-block: 200px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .vv{
    font-weight: 700;
    font-size: 48px;
  }
}
form{
  display: flex;
  flex-direction: column;
  padding-block: 20px 0;
  input{
    width: 438px;
    height: 50px;
    border: 1px solid rgb(54, 54, 54);
    border-radius: 10px;
    margin-block: 5px;
    padding-inline: 10px 0;
  }
  input::placeholder{
    font-size: 16px;
    font-weight: 600;
    padding-inline: 10px;
    color: black;
  }
  button{
    width: 438px;
    height: 50px;
    background: #0047FF;
    border: 0;
    border-radius: 10px;
    margin-block: 5px 0;
    color: white;
        font-size: 16px;
        font-weight: 600;
    a{
      font-weight: 600;
      font-size: 18px;
      color: white;
      text-decoration: none;
    }
   
 
  }

}
.v{
  font-size: 18px;
  font-weight: 700;
  color: #0047FF;
  padding-block: 20px 0;
}